// theme
$primary-color-hex : #131D4A // rgb -> (19,29,74)
$secondary-color-hex : #8991A2 // rgb -> (137, 145, 162)

*
    margin: 0
    padding: 0
html,body
    width: 100%
    height: 100%

#root
    width: 100%
    height: 100%

.form
    height: 100%
    box-sizing: border-box
    margin-top: 20px

    .genform
        width: 80%
        margin: 0 auto

.form-header
    display: flex
    height: 55px
    align-items: center
    font-family: 'Source Sans Pro'
    font-size: 14px
    border-radius: 2px
    margin-bottom: 20px
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.09 )

    div
        box-sizing: border-box
        margin-right: auto
        height: 100%
        line-height: 55px
        flex: 1
        text-align: center
        background: rgba(187,204,245,0.68)
        color: #8991A2
        border-right: 1px solid rgba(81,84,96,0.15)
        font-weight: 500
        transition: background 0.5

        &:last-child
            border: none

        &:hover
            color: #507DF0
            cursor: pointer

.form-header .header-active
    border-top: 3px solid #507DF0
    border-right: none
    background: white
    color: #507DF0

    &:hover
        background: white

.form-section
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 25px

.standalone
    display: block

.textarea
    grid-column-start: 1
    grid-column-end: 3

.form-action
    margin-top: 50px
    box-sizing: border-box
    display: flex
    height: 40px

    button
        -webkit-appearance: none
        background: none
        border: none
        font-family: "Source Sans Pro"
        font-weight: 500
        width: 160px
        border-radius: 2px

        &:hover
            cursor: pointer

    .discard
        color: #D3685C
        margin-left: auto
        margin-right: 20px
        background: rgba(204,104,92,0.2)

        &:hover
            background: rgba(204, 104, 92, 0.3)

        &:focus
            outline: none
            border: 1px solid #D3685C

    .save
        color: rgba(89, 136, 255, 1)
        background: rgba(89, 136, 255, 0.2)

        &:hover
            background: rgba(89, 136, 255, 0.3)

        &:focus
            outline: none
            border: 1px solid rgba(89, 136, 255, 1)

.hide
    display: none
input.error
    background: white
    border-left: 3px solid #FF2670
    border-top: 1px solid rgba(230,230,230,0.39)
    border-bottom: 1px solid rgba(230,230,230,0.39)
    border-right: 1px solid rgba(230,230,230,0.39)

.select::-webkit-scrollbar
    width: 3px
.select::-webkit-scrollbar-track
    background : white
.select::-webkit-scrollbar-thumb
    background : $primary-color-hex
.select::-webkit-scrollbar-thumb:hover
    background : $secondary-color-hex

.workingHour::-webkit-scrollbar
    width: 3px
.workingHour::-webkit-scrollbar-track
    background : white
.workingHour::-webkit-scrollbar-thumb
    background : $primary-color-hex
.workingHour::-webkit-scrollbar-thumb:hover
    background : $secondary-color-hex
