// theme
$primary-color-hex : #131D4A // rgb -> (19,29,74)
$secondary-color-hex : #8991A2 // rgb -> (137, 145, 162)

// css-resets
*
    margin: 0
    padding: 0

html,body
    width: 100%
    height: 100%

#root
    width: 100%
    height: 100%
    background: white

#loading
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.05)
    z-index: 1

.ct-toast
    min-height: 30px
    height: 30px
    max-height: 30px
    box-sizing: border-box
    font-family: "Source Sans Pro"